@model ML.Usuario
@{
    ViewBag.Title = "UsuarioGetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h2>Form</h2>

}
<h2>Usuario</h2>


<div class="row">
    <div class="col-md-12">
        <h5>Seleccione un usuario para editarlo o + para agregar...</h5>
        <hr />
    </div>

</div>

@*<div class="row">*@
<div style="float:right;">
    @Html.ActionLink("+", "Form", "Usuario", htmlAttributes: new { @class = "btn btn-success" })

</div>

<br>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>Editar</td>
            <td class="hidden">IdUsuario</td>
            <td>Nombre</td>
            <td>IdRol</td>
            <td>UserName</td>
            <td>Email</td>
            <td class="hidden">Password</td>
            <td>Sexo</td>
            <td>Telefono</td>
            <td>Celular</td>
            <td>FechaNacimiento</td>
            <td>CURP</td>
            <td>Imagen</td>
          
            <td>Eliminar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (ML.Usuario usuario in Model.Usuarios)
        {
            <tr>
                <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Usuario", new { IdUsuario = usuario.IdUsuario })"></a></td>
                <td class="hidden">@usuario.IdUsuario</td>

                <td>@usuario.Nombre @usuario.ApellidoPaterno @usuario.ApellidoMaterno</td>
                <td>@usuario.Rol.IdRol</td>
                <td>@usuario.UserName</td>
                <td>@usuario.Email</td>
                <td class="hidden">@usuario.Password</td>
                <td>@usuario.Sexo</td>
                <td>@usuario.Telefono</td>
                <td>@usuario.Celular</td>
                <td>@usuario.FechaNacimiento</td>
                <td>@usuario.CURP</td>
                <td>@usuario.Imagen</td>


                <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Usuario", new { IdUsuario= usuario.IdUsuario})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
            </tr>
        }








        </tbody>
    </table>